*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
  }
  
  body{
    background:rgba(0, 0, 0, 0.699);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

.page{
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#logo{
    width: 100%;
    background-color:rgba(0, 0, 0, 0.562);
}
#logo h1{
    letter-spacing: 3px;
    font-family: cursive;
    font-size:80px;
    color: rgba(255, 255, 255, 0.818);
    text-align: center;
    padding: 20px;
}
#header{
    width: 100%;
    height:7vh;
    position: relative;
}
nav{
    display: flex;
    flex-direction: block;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.298);
    height: 80px;
    overflow: auto;
}
#top{
    flex: 1;
    flex-direction: column;
    text-align: center;
    font-size:25;
    font-weight: bolder;
}

#top ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    position: relative;
}


#top ul li a{
  font-size: 25px;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.789);
    text-decoration: none;
    font-weight: 400;
    
}
#top ul li:hover{
    background-color: #a9a9a958;
    text-decoration: none;
    font-weight: 200;
    border-radius: 15px;
    
}
#top ul li:active{
    background-color: #989898;
    text-decoration: none;
    font-weight: 200;
    
}
  form{
    background: rgba(39, 39, 39, 0.511);
    width: 800px;
    height: 800px;
    margin: 50px auto;
    max-width: 97%;
    border-radius: 4px;
    padding: 55px 30px;
  }
  
  form .title h2{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
  }
  
  form .up{
    display: flex;
    justify-content: space-between;
  }
  
  form .up .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
  }
  
  form label{
    display: block;
    font-size: 13px;
    letter-spacing: px;
    margin-bottom: 16px;
  }
  
  form .up .item input{
    border-radius: 5px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
  }
  
  form .full{
    margin-bottom: 24px;
  }
  
  form .full textarea{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
  }
  
  form .action{
    margin-bottom: 32px;
  } 
  form .action button{
    background: transparent;
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.722);
    color: black;
  }
  footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: #a9a9a9;

}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;

}
.box .content{
    margin: 20px 0 0 0;

}
.box .content p{
    text-align: justify;
}
.left .content .social{
    margin: 20px 0 0 0;
}
.left .content .social a{
padding: 0 2px;
}
.left .content .social a img{
    height: 40px;
    width:20px;
    line-height: 40px;
    align-content: center;
    background-color: rgba(154, 146, 146, 0.819)

}
.left .content .social img:hover{
    background-color: rgba(194, 198, 198, 0.382);
}
.right .content .contct a{
    color: rgb(254, 254, 254);
    text-decoration: none;
    padding: 10px;
    background-color: rgb(85, 85, 85);
    border: none;
    border-radius: 10px;
}
.right .content .contct a:hover{
    background-color: rgba(68, 68, 68, 0.997);
}
  @media (max-width: 480px){
    form .half{
      flex-direction: column;
    }
    form .half .item{
      width: 100%;
    }
    form .action{
      display: flex;
      flex-direction: column;
    }
    form .action input{
      margin-bottom: 10px;
      width: 100%;
    }
    footer{
      position: relative;
      bottom: 0px;
  }
  .main-content{
      flex-wrap: wrap;
      flex-direction: column;
  }
  .main-content .box{
      margin: 5px 0;
  }
  #logo h1{
    font-size: 30px;
}
#top ul li{
    font-size: 10px;
    padding: 5px;
}
#top ul li a{
  font-size: 12px;
}
  }